---
layout: default
---

{{ content }}

{% if site.paginate %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{%- if posts.size > 0 -%}

  {% if site.paginate and paginator.previous_page or paginator.next_page %}
    <div class="paginator">
      <span>Pages: </span>
        {%- if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a>
        {%- else %}
          <span class="pager-edge">•</span>
        {%- endif %}

        <span class="current-page">{{ paginator.page }}</span>

        {%- if paginator.next_page %}
          <a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a>
        {%- else %}
          <span class="pager-edge">•</span>
        {%- endif %}
    </div>
  {%- endif %}

  <ul>
    {%- for post in posts -%}
      <li>
        <span>{{ post.date | date: "%Y-%m-%d" }}</span>
        <span>
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </span>
      </li>
    {%- endfor -%}
  </ul>

{%- endif -%}
